[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=gesturepractice
X-Python-2-Compatible=false
X-Krita-Manual=README.md
Name=Gesture Practice
Comment=Docker for timed reference-drawing sessions
